* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875 ;
}

body {
  background-color: #AED6F1;
}

.resume-contents {
  min-height: 100vh;
  width: 85%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.1rem;
}

.img1 { 
  background-image: url(./img/web-development-banner-computer-with-window-computer-with-browser-window_80328-118.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #1B2631;
  float: left;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0.2rem 0.2rem;
  font-size: 1.125rem;
}

.pagination a[href~="#profile"] { 
  
  display: none;
}



.pagination a.active {
  background-color: #2E86C1;
  color: #e0e0e0;
  border: 1px solid #21638f;
}

.pagination a:hover:not(.active) {
  background-color: #2E86C1;
  color: #e0e0e0;
  border: 1px solid #21638f;
}






.right-section {
  grid-column: span 3;
  height: 100%;
  background-color: #34495E;
}

.left-section {
  grid-column: span 5;
  height: 100%;
  background-color: #D6DBDF;
}

.right-section-contents {
  padding: 2rem 2rem;
}

.profile {
  width: 100%;
  border-bottom: 2px solid #1B2631;
}

.profile .profile-image {
  width: 100%;
  border-radius: 50%;
  border: 0.6rem solid #1B2631;
}

.name {
  color: #D6DBDF;
  font-size: 1.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
}

.profession {
  color: #F9E79F;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.right-title {
  color: #D6DBDF;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

 .contact-info ul  {
  padding-top: 1.5rem;
  padding-right: 0.5rem;
}

.contact-info ul li,
.references ul li {
  padding: .4rem 0.1rem;
  display: flex;
  align-items: center;
  color: #d6dbdfaf;
  letter-spacing: 1px;
  font-size: 1.125rem;
}

.contact-info ul li:hover,
.references ul li:hover {
  color: #2E86C1;
}


.contact-info ul a {text-decoration: none; }

.contact-info ul li i,
.references ul li i {
  padding-right: 1rem;
  font-size: 1.125rem;
  color: #2E86C1;
  text-decoration: none;
}



.reference-name {
  padding-top: 1.5rem;
  padding-bottom: .4rem;
  font-size: 1.125rem;
  color: #F9E79F;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.reference-location {
  font-size: 1rem;
  color: #d6dbdfaf;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  padding-bottom: .4rem;
}


.left-section-contents {
  padding: 2rem 2rem;
}

.left-title {
  color: #34495E;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.about-container, .experience-container .education-container, .skills-container, .cert-container, .page-map {
  padding-bottom: 2rem;
}
.about-me-contents {
  font-size: 1.125rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.about-me-contents span {
  font-size: 1.25rem;
  font-weight: Bold;
  color: #2E86C1;
}

.experience-contents,
.education-contents,
.cert-contents ,.skills-content ul
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}



.exp-company-name,
.education-school-name,
.cert-company-name, .project-name {
  font-size: 1.5625rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #21638f;
  padding-bottom: .5rem;
}

.exp-time-period,
.education-time-period,
.cert-time-period {
  font-size: 1.125rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.exp-right, .education-right, .cert-right
{
  margin-left: 1.5rem; 
}

.exp-position,
.education-subject,
.cert-name, .project-desc {
  font-size: 1.4375rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2E86C1;
  padding-bottom: .4rem;
 
}

.exp-desc,
.education-desc,
.cert-desc {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  border-left: 3px solid #a5a3a3;
  padding-left: 0.35rem;
  
}

.skills-content ul
{   justify-content: space-between;
    gap: 1.25rem;
}

.skills ul li {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #21638f;
  padding-bottom: .4rem;
  padding-left: 0.35rem;
  padding-right: 0.35rem;

}


.skills ul li p {
  text-transform: uppercase;
}


.projects-container {
  padding: 0 0 2rem 0;
}



.projects-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  padding-bottom: 2rem;

}
.dis-none {
   width: 100%;
  height: 20rem;
  display: none;
  
}


.img2, .img3, .img4{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  
}



.img2 {
  background-image: url(./img/Bennys\ Burger.png);
  
}

.img3 {
  background-image: url(./img/Tinder\ Dog.png);
  
}

.img4 {
  background-image: url(./img/Sweet\ Shop.png);
}


.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #1B2631;
  padding: 0 1rem;
}

.projects iframe {
  width: 100% ;
  height: 20rem;
  padding: 1rem 0;

 }

 .project-desc {
  width: 85%;
  text-align: center;
  padding-bottom: 1rem;
 }

.projects .btn-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.projects button {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5em;
  padding: 1em;
  width: 9rem;
  height: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.cv-container {

  width: 100%;
  height: 50%;
}


#cv-download {
  color: #34495E;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem 0;
  }

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

 a {
  text-decoration: none;

}

button {

  font-size: 1.25rem;
  font-weight: bold;
  margin: 1em;
  padding: 1.5em;
  color: #2E86C1;
  background: #e0e0e0;
  box-shadow: 8px 8px 8px #898989,
             -8px -8px 8px #ffffff;
  border-radius: 22px;
  
  text-align: center;


}

button i { 
  margin-left: 1rem;
  font-size: 1.5rem;}





button:hover {

  background: #2E86C1;
  color: #e0e0e0;
  box-shadow: 8px 8px 8px #ffffff,
      -8px -8px 8px #898989;


  transform: scale(1.1);

}

.home {
  width: 4rem;
  height: 4rem;
  color: #D6DBDF;
  border: 3px solid #21638f;
  background:#2E86C1;
  text-align: center;
  line-height: 4rem;
  border-radius: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 15;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}



@media (hover:hover){
.home:hover {
    transform: scale(1.15);
    border: 3px solid #21638f;
    color: #2E86C1;
    background: #D6DBDF;
    translate: -0.5rem;
  }
    button:hover {
  
      background: #2E86C1;
      color: #e0e0e0;
      box-shadow: 8px 8px 8px #ffffff,
        -8px -8px 8px #898989;
  
  
      transform: scale(1.1);
  
    }
    .pagination a:hover:not(.active) {
      background-color: #2E86C1;
      color: #e0e0e0;
      border: 1px solid #21638f;
    }
}



/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
  position: relative;
  height: 0;
  /* gets height from padding-bottom */

  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */

}

.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
  padding-bottom: 95%;
}

/* general styles */
/* ============== */
.set-border {
  border: 5px inset #4f4f4f;
}

.set-box-shadow {
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
  -moz-box-shadow: 4px 4px 14px #4f4f4f;
  box-shadow: 4px 4px 14px #4f4f4f;
}

.set-padding {
  padding: 40px;
}

.set-margin {
  margin: 30px;
}

.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}


/* Media queries */

@media screen and (max-width:1100px) {

:root {
    font-size: 80%;
  }

  .contact-info ul li,
  .references ul li,
  .skills ul li {

    font-size: 1rem;
  }

  .contact-info ul li i,
  .references ul li i .skills ul li p {

    font-size: 1.125rem;

  }

}


@media screen and (max-width: 867px) {
 

 
 
  .resume-contents {
    grid-template-columns: repeat(1, 1fr);
    
  }


  .profile .profile-image {
    width: 50%;
    border-radius: 50%;
    border: 0.6rem solid #1B2631;
    margin-left: 22.5%;
    
  }

    .pagination a[href~="#profile"] {
  
      display: initial;
    }

 .responsive-wrapper,
 .responsive-wrapper iframe,
 #Iframe-Master-CC-and-Rs,
 .projects iframe {
   display: none;
 }


 .dis-none {
  display: inherit;
  padding: 1rem 0;
 }

 .img2,
 .img3,
 .img4 {
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   padding: 1rem 0;

 }

.home:hover {
  transform: scale(1.15);
  border: 3px solid #21638f;
  color: #2E86C1;
  background: #D6DBDF;
  translate: -0.5rem;
}

button:hover {

  background: #2E86C1;
  color: #e0e0e0;
  box-shadow: 8px 8px 8px #ffffff,
    -8px -8px 8px #898989;


  transform: scale(1.1);

}

.pagination a:hover:not(.active) {
  background-color: #2E86C1;
  color: #e0e0e0;
  border: 1px solid #21638f;
}
@media (hover:none) {
  .home:hover {
      transform: scale(1);
      color: #D6DBDF;
      border: 3px solid #21638f;
      background: #2E86C1;
      translate: 0;
    }

    button:hover {
    transform: scale(1);
     color: #2E86C1;
     background: #e0e0e0;
     box-shadow: 8px 8px 8px #898989,
    -8px -8px 8px #ffffff;
    }

}

.pagination a:hover:not(.active) {

    color: #1B2631;  
    border: 1px solid #ddd;
}


}


@media screen and (max-width:768px) {
  .experience-contents,
  .education-contents,
  .cert-contents {
      grid-template-columns: repeat(1, 1fr);
  }

    .right-section {
      grid-column: span 3;
    }
  
    .left-section {
      grid-column: span 4;

    }

   

}



@media screen and (max-width:480px) {
  :root {
          font-size: 62.5%;
  }

  .resume-contents {
      width: 100%;
      margin: 0 auto;

  }

   .contact-info ul li i,
  .references ul li i {
       padding-right: 1rem;
      
  }

 
  .about-me-contents {
      line-height: 1.5rem;
  }

 .exp-left,
 .education-left,
 .cert-left {
   margin-bottom: 0.1rem;
 

 }


.exp-right,
.education-right,
.cert-right {
  margin-top: 1.5rem;
  margin-left: 1.5rem;

}



 

}

